@model Todo

<partial name="_Notification" />
<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4 col-8 mx-auto">
        <div class="row">
            <div class="col pb-4 text-center">
                <h2><strong>@(Model.Id != 0 ? "Edit" : "Create") task</strong></h2>
            </div>
        </div>
        <div class="form-floating py-2">
            <input asp-for="Title" class="form-control" />
            <label asp-for="Title" class="mt-2"></label>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-floating py-2">
            <textarea asp-for="Description" class="form-control" style="height: 200px;"></textarea>
            <label asp-for="Description" class="mt-2"></label>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        @if (Model.Id != 0)
        {
            <div>
                <input asp-for="Status" type="hidden" />
            </div>
            <div>
                <input asp-for="CreatedDate" type="hidden" />
            </div>
        }
        <div>
            <input asp-for="Status" type="hidden" value="Todo" />
        </div>
        <div>
            <input asp-for="CreatedDate" type="hidden" value="@DateTime.Now" />
        </div>
        <div class="row mb-3">
            @if (Model.Id != 0)
            {
                <div class="col-auto ">
                    <a asp-controller="Todo" asp-action="Delete" asp-route-todoId="@Model.Id" class="btn btn-outline-danger">
                         <i class="bi bi-trash3-fill"></i>
                    </a>
                </div>
            }
            <div class="col">
                <div class="row justify-content-lg-end">
                    <div class="col-3">
                        <button type="submit" class="btn btn-outline-primary form-control">@(Model.Id != 0 ? "Save" : "Add") </button>
                    </div>
                    <div class="col-3 ">
                        <a asp-controller="Todo" asp-action="Index" class="btn btn-dark form-control">
                            Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
