<div class="container text-center mt-5">
    <h1 class="mb-4">Welcome to Your Todo List</h1>
    <p class="lead">Stay organized and manage your tasks effectively with our simple and intuitive Todo application.</p>
    <a asp-controller="Todo" asp-action="Index" class="btn btn-lg btn-info">
        Get Started
    </a>
</div>

